<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 添加服务提供者的标志 -->
	<dubbo:application name="ego-rpc-provider" />

	<!-- 指定注册中心 -->
	<dubbo:registry address="192.168.43.131:2181,192.168.43.131:2182,192.168.43.131:2183" protocol="zookeeper" />

	<!-- 指定当前项目发布dubbo服务的方式 -->
	<!-- 指定服务发布的协议：dubbo协议 -->
	<!-- 指定服务发布的端口：20000 -->
	<!-- 指定服务发布的虚拟主机的地址,将来这个项目就在这个虚拟机上运行-->
	<dubbo:protocol name="dubbo" port="20000" host="192.168.43.14" />
	 
	 <!-- 发布dubbo服务,引用具体的实现类对象，实现类对象已经通过注解扫描纳入了Spring容器中，默认就是类名首字母小写 -->
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.ItemService" ref="itemServiceImpl"></dubbo:service>
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.ItemCatService" ref="itemCatServiceImpl"></dubbo:service>
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.ItemDescService" ref="itemDescServiceImpl"></dubbo:service>
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.ItemParamService" ref="itemParamServiceImpl"></dubbo:service>
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.ParamItemService" ref="paramItemServiceImpl"></dubbo:service>
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.TbContentCateGoryService" ref="tbContentCateGoryServiceImpl"></dubbo:service>
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.TbContentService" ref="tbContentServiceImpl"></dubbo:service>
	 <dubbo:service interface="com.bjsxt.ego.rpc.service.TbUserService" ref="tbUserServiceImpl"></dubbo:service>
	<dubbo:service interface="com.bjsxt.ego.rpc.service.TbOrderService" ref="tbOrderServiceImpl"></dubbo:service>
</beans>